PORT=port-hosted
FRAPPE_API_TOKEN=api-key:api-secret
FRAPPE_SITE_URL=url-site-hosted-on
QBO_ENV=sandbox-or-production
TAXED_DISCOUNT_ID=value-of-taxed-discount-id
NON_TAXED_DISCOUNT_ID=value-of-non-taxed-discount-id
SALES_TAX_ID=sales-tax-id-value
SALES_TAX_STATE=account-id
DISCOUNT_ID=discount-id
QBO_DEPOSIT_ACCOUNT_NAME=account-id